	<div class="starter-template">
		<h1>Wait and eat</h1>
		<p class="lead">The smart restaurant waiting list.</p>
		<button type="button" class="btn btn-primary btn-lg">Get started now</button>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>Ditch the Clipboard</h2>
			<p>Use our simple app to manage your waiting list from your PC, smartphone or tablet</p>
		</div>
		<div class="col-md-4">
			<h2>Get your voice back</h2>
			<p>No need to yell every 5 minutes. Get your voice back</p>
		</div>
		<div class="col-md-4">
			<h2>Customers will love you</h2>
			<p>They can come when the table is ready</p>
		</div>
	</div>
